@model M1Shop.Models.Categories

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h4>Categories</h4>
<hr />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>  @Html.DisplayNameFor(model => model.CategoryName)</th>
                <td>   @Html.DisplayFor(model => model.CategoryName)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th >
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
