@model IEnumerable<M1Shop.Models.CarDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";


}


<h3 style="font-size:15px;">
    <small><a style="font-size: 16px; float: right;" href="~/Products/Index">Tüm vitrin ilanlarını göster</a></small>
    Anasayfa Vitrini
</h3>




<style>
    .vitrin-list span {
        width: 98%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 17px;
        line-height: 18px;
    }

    .vitrin_list {
        float: left;
        width: 108px;
        max-height: 109px;
        padding: 7px 16px 5px 0;
        text-align: left;
        font-size: 11px;
        list-style: none;
        margin-bottom: 1px;
    }

    .homepage {
        float: left;
        width: 108px;
        max-height: 109px;
        padding: 7px 16px 5px 0;
        text-align: left;
        font-size: 11px;
    }

    .homepage-content {
        float: left;
        width: 108px;
        max-height: 109px;
        padding: 7px 16px 5px 0;
        text-align: left;
        font-size: 11px;
    }

    .homepage {
        width: 838px;
        float: left;
    }

    .homepage-content {
        width: 838px;
        float: left;
    }

    .homepage {
        width: calc(50% - 8px);
        float: left;
        padding: 16px 16px 0 0;
    }

    .estate-projects {
        width: calc(50% - 8px);
        float: left;
        padding: 16px 16px 0 0;
    }

    .projects {
        width: calc(50% - 8px);
        float: left;
        padding: 16px 16px 0 0;
    }

    .homepage {
        width: 100%;
        height: 174px;
        background: #f5f5f5;
        display: block;
    }

    .estate-projects {
        width: 100%;
        height: 174px;
        display: block;
    }

    .projects img {
        width: 100%;
        height: 174px;
        background: #f5f5f5;
        display: block;
    }
</style>


<ul class="vitrin-list clearfix" style="margin-bottom: 60px;">

    @foreach (var item in Model)
    {
        <li class="vitrin_list">
            <a href="@Url.Action("Details","Cardetail")?id=@item.CarDetailId" title="@item.CarilanTitle">
                <img alt="@item.CarilanTitle" height="75" width="100"
                     src="@item.PhotoPathAddress">
                <span>@item.CarilanTitle</span>
            </a>
        </li>
    }


    @*<li class="vitrin_list">
                <a href="@Url.Action("Details","Cardetail")?id=2" title="Oraklar Gruop Cıtroen C5 2.0 Hdi">
                    <img alt="Oraklar Gruop Cıtroen C5 2.0 Hdi" src="/wwwroot/img/thmb_81252546303n.jpg" srcset="https://i0.shbdn.com/photos/52/54/63/thmb_81252546303n.jpg 1x, https://i0.shbdn.com/photos/52/54/63/lthmb_81252546303n.jpg 2x">
                    <span>Oraklar Gruop Cıtroen C5 2.0 Hdi</span>
                </a>

            </li>


        <li class="vitrin_list">
            <a href="@Url.Action("Details", "CarDetail")?id=3" title="Volvo S90 Momentum Plus Xenium Ll">
                <img alt="Volvo S90 Momentum Plus Xenium Ll" src="/wwwroot/img/thmb_823149431utg.jpg" srcset="https://i0.shbdn.com/photos/14/94/31/thmb_823149431utg.jpg 1x, https://i0.shbdn.com/photos/14/94/31/lthmb_823149431utg.jpg 2x">
                <span>Volvo S90 Momentum Plus Xenium Ll</span>
            </a>
        </li>
        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=4" title="Caron Araç Kiralama Dan Dizel 2900 Tl">
                <img alt="Caron Araç Kiralama Dan Dizel 2900 Tl" src="/wwwroot/img/thmb_515821391ulg.jpg" srcset="https://i0.shbdn.com/photos/82/13/91/thmb_515821391ulg.jpg 1x, https://i0.shbdn.com/photos/82/13/91/lthmb_515821391ulg.jpg 2x">
                <span>Caron Araç Kiralama Dan Dizel 2900 Tl</span>
            </a>
        </li>
        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=5" title="Generalden Bayi Hatasız Yetkili Servis Bakımlı">
                <img alt="Generalden Bayi Hatasız Yetkili Servis Bakımlı" src="/wwwroot/img/thmb_823926527ne9.jpg" srcset="https://i0.shbdn.com/photos/92/65/27/thmb_823926527ne9.jpg 1x, https://i0.shbdn.com/photos/92/65/27/lthmb_823926527ne9.jpg 2x">
                <span>Generalden Bayi Hatasız Yetkili Servis Bakımlı</span>
            </a>
        </li>
        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=6" title="Bmw 520d Comfort">
                <img alt="Bmw 520d Comfort" src="/wwwroot/img/thmb_819717085stx.jpg" srcset="https://i0.shbdn.com/photos/71/70/85/thmb_819717085stx.jpg 1x, https://i0.shbdn.com/photos/71/70/85/lthmb_819717085stx.jpg 2x">
                <span>Bmw 520d Comfort</span>
            </a>
        </li>

        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=7" title="2016 Bayi Porsche Cayenne Boyasız Hatasız/46000 Km/çıkışlı/taba">
                <img alt="2016 Bayi Porsche Cayenne Boyasız Hatasız/46000 Km/çıkışlı/taba" src="/wwwroot/img/thmb_807033532780.jpg" srcset="https://i0.shbdn.com/photos/03/35/32/thmb_807033532780.jpg 1x, https://i0.shbdn.com/photos/03/35/32/lthmb_807033532780.jpg 2x">
                <span>2016 Bayi Porsche Cayenne Boyasız Hatasız/46000 Km/çıkışlı/taba</span>
            </a>
        </li>



        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=8" title="Hatasız ..boyasız ...hyundai Elentra">
                <img alt="Hatasız ..boyasız ...hyundai Elentra" src="/wwwroot/img/thmb_8219132257gr.jpg" srcset="https://i0.shbdn.com/photos/91/32/25/thmb_8219132257gr.jpg 1x, https://i0.shbdn.com/photos/91/32/25/lthmb_8219132257gr.jpg 2x">
                <span>Hatasız ..boyasız ...hyundai Elentra</span>
            </a>
        </li>
        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=9" title="M K C Motors 2016 Porsche/cayenne Bayi/boyasız/bej/92000.km">
                <img alt="M K C Motors 2016 Porsche/cayenne Bayi/boyasız/bej/92000.km" src="/wwwroot/img/thmb_807134686l8m.jpg" srcset="https://i0.shbdn.com/photos/13/46/86/thmb_807134686l8m.jpg 1x, https://i0.shbdn.com/photos/13/46/86/lthmb_807134686l8m.jpg 2x">
                <span>M K C Motors 2016 Porsche/cayenne Bayi/boyasız/bej/92000.km</span>
            </a>
        </li>
        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=10" title="Sıfır Özel Yapım Karavan (mobil Ofis). Takas Imkanı Mevcuttur.">
                <img alt="Sıfır Özel Yapım Karavan (mobil Ofis). Takas Imkanı Mevcuttur." src="/wwwroot/img/thmb_759524003165.jpg" srcset="https://i0.shbdn.com/photos/52/40/03/thmb_759524003165.jpg 1x, https://i0.shbdn.com/photos/52/40/03/lthmb_759524003165.jpg 2x">
                <span>Sıfır Özel Yapım Karavan (mobil Ofis). Takas Imkanı Mevcuttur.</span>
            </a>
        </li>





        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=11" title="Arn Auto'dan 71.000km 2016 Hatasız E 200 Exclusive+burmaster+f1">
                <img alt="Arn Auto'dan 71.000km 2016 Hatasız E 200 Exclusive+burmaster+f1" src="" srcset="https://i0.shbdn.com/photos/60/34/50/thmb_822603450x73.jpg 1x, https://i0.shbdn.com/photos/60/34/50/lthmb_822603450x73.jpg 2x">
                <span>Arn Auto'dan 71.000km 2016 Hatasız E 200 Exclusive+burmaster+f1</span>
            </a>
        </li>




        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=12" title="Ilk Sahibinden Bmw 5.20 Ia Boyasız-değişensiz Garaj Aracı">
                <img alt="Ilk Sahibinden Bmw 5.20 Ia Boyasız-değişensiz Garaj Aracı" src="/wwwroot/img/thmb_816541884fxw.jpg" srcset="https://i0.shbdn.com/photos/54/18/84/thmb_816541884fxw.jpg 1x, https://i0.shbdn.com/photos/54/18/84/lthmb_816541884fxw.jpg 2x">
                <span>Ilk Sahibinden Bmw 5.20 Ia Boyasız-değişensiz Garaj Aracı</span>
            </a>
        </li>

        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=13" title="Özkoç'tan Cam Tavanlı Hatasız Boyasız ''70 Binde'' S-tronic A3">
                <img alt="Özkoç'tan Cam Tavanlı Hatasız Boyasız ''70 Binde'' S-tronic A3" src="/wwwroot/img/thmb_816177153v3g.jpg" srcset="https://i0.shbdn.com/photos/17/71/53/thmb_816177153v3g.jpg 1x, https://i0.shbdn.com/photos/17/71/53/lthmb_816177153v3g.jpg 2x">
                <span>Özkoç'tan Cam Tavanlı Hatasız Boyasız ''70 Binde'' S-tronic A3</span>
            </a>
        </li>


        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=14" title="2015 Model 70.000 Km'de 3.0 D 4d Land Cruiser Prado">
                <img alt="2015 Model 70.000 Km'de 3.0 D 4d Land Cruiser Prado" src="/wwwroot/img/thmb_823147689bt7.jpg" srcset="https://i0.shbdn.com/photos/14/76/89/thmb_823147689bt7.jpg 1x, https://i0.shbdn.com/photos/14/76/89/lthmb_823147689bt7.jpg 2x">
                <span>2015 Model 70.000 Km'de 3.0 D 4d Land Cruiser Prado</span>
            </a>
        </li>



        <li class="vitrin_list">
            <a href="@Url.Action("Details","CarDetail")?id=15" title="Sahibinden Kazasız Boyasız Kayıtsız Opel Corsa 1.3 Enjoy Active">
                <img alt="Sahibinden Kazasız Boyasız Kayıtsız Opel Corsa 1.3 Enjoy Active" src="/wwwroot/img/thmb_8239276105ch.jpg" srcset="https://i0.shbdn.com/photos/92/76/10/thmb_8239276105ch.jpg 1x, https://i0.shbdn.com/photos/92/76/10/lthmb_8239276105ch.jpg 2x">
                <span>Sahibinden Kazasız Boyasız Kayıtsız Opel Corsa 1.3 Enjoy Active</span>
            </a>
        </li>*@


</ul>


<div class="uiBox">
    <h3 style="font-size:16px;">
        <small>
            <a style="font-size: 16px; float: right;" href="/kategori/emlak-projeler/" title="Tüm Projeleri göster">Tüm Projeleri göster</a>
        </small>
        Projeler
    </h3>
    <div class="estate-projects clearfix">
        <div class="projects" data-id="3699">
            <a title="AND Pastel" href="/projeler/p/and-gayrimenkul/and-pastel-kartal/">
                <img title="AND Pastel" alt="AND Pastel" style="width: 360px;position: relative;  top: -30px;" src="https://s0.shbdn.com/projeler/media/photos/Project/2016/06/6cb1af77a3549542/Self/0f15d45ce3d186d3.jpg">
            </a>
            <h4>
                <a title="AND Pastel" href="https://www.sahibinden.com/emlak-projeler/and-gayrimenkul-and-pastel-kartal-3699/detay" style="font-size: 18px; position: relative; top: -20px;">
                    AND Pastel<span> (İstanbul / Kartal)</span>
                </a>
            </h4>
            <p class="m2" style="position: relative; top: -20px;">
                <strong>m<sup>2</sup></strong>: 67 m<sup>2</sup> - 256 m<sup>2</sup>
            </p>
            <p class="due-date" style="position: relative; top: -20px;">
                <strong>Teslim Tarihi</strong>: HemenTeslim
            </p>
        </div>
        <div class="projects" data-id="4005">
            <a title="Referans Ankara" href="/projeler/p/sf-yildiz-gayrimenkul-insaat/referans-ankara-etimesgut/">
                <img title="Referans Ankara" alt="Referans Ankara" style="  position: relative; top: -30px;width: 360px; margin-left: 33px;" src="https://s0.shbdn.com/projeler/media/photos/Project/2020/04/dd4caaf3e25495ac/Self/9569d39111dcc361.jpg">
            </a>
            <h4>
                <a title="Referans Ankara" href="https://www.sahibinden.com/emlak-projeler/sf-yildiz-gayrimenkul-insaat-referans-ankara-etimesgut-4005/detay" style="font-size: 18px;position: relative; left: 40px; top:-20px;">
                    Referans Ankara<span> (Ankara / Etimesgut)</span>
                </a>
            </h4>
            <p class="m2" style="position: relative; left: 40px; top: -20px;">
                <strong>m<sup>2</sup></strong>: 71 m<sup>2</sup> - 116 m<sup>2</sup>
            </p>
            <p class="due-date" style="position: relative; left: 40px; top: -20px;">
                <strong>Teslim Tarihi</strong>: Aralık 2021
            </p>
        </div>
    </div>
</div>


@*<img class="card-img-top imageThumbnail" src="@photoPath"
         asp-append-version="true" />

    <div class="card-footer text-center">
        <a asp-controller="CarDetail" asp-action="Details" asp-route-id="@cardetail.CarDetailId"
           class="btn btn-primary m-1">View</a>
        <a href="#" class="btn btn-primary m-1">Edit</a>
        <a href="#" class="btn btn-danger m-1">Delete</a>
    </div>*@



